<md-content class="md-default-theme">
    <md-content layout-padding>
        <h1>About</h1>
        <div layout-padding layout="row" layout-xs="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Github</span>
                        <span class="md-subhead">Code available on Github</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" aria-label="github">
                        <a target="_blank" href="https://github.com/JoseGCheca/twitterMaps-IVI">
                            <md-icon md-svg-icon="./assets/svg/github.svg"></md-icon>
                        </a>
                    </md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Google+</span>
                        <span class="md-subhead">Google+ personal account</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" aria-label="github">
                        <a target="_blank" href="https://plus.google.com/+Jos%C3%A9G%C3%B3mezCheca">
                            <md-icon md-svg-icon="./assets/svg/google-plus.svg"></md-icon>
                        </a>
                    </md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">LinkedIn</span>
                        <span class="md-subhead">Linkedin personal account</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-sm card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" aria-label="github">
                        <a target="_blank" href="https://es.linkedin.com/in/josé-gómez-checa-33596880">
                            <md-icon md-svg-icon="./assets/svg/linkedin.svg"></md-icon>
                        </a>
                    </md-button>
                </md-card-actions>
            </md-card>
        </md-content>
    </md-content>
</md-content>
