<md-content class="md-default-theme">
    <md-content layout-padding>
        <h1 style="margin-top: 0;">Welcome</h1>
        <p>This tool has been developed as part of the study case for IVI subject. Master in Computer Science - UCLM ESI Ciudad Real</p>
        <h3>Twitter Trending topics Maps</h3>
        <br>
        <br>
        <p>Similar to the
            <a href="http://www.polymer-project.org/">Polymer</a> project's
            <a href="http://www.polymer-project.org/docs/elements/paper-elements.html">Paper elements</a> collection, Angular Material is supported internally at Google by the Angular.js, Material Design UX and other product teams.
        </p>
        <ul class="buckets md-layout-row layout-align-center-center layout-wrap">
        </ul>
        <br>
        <h2 class="md-headline">What is Material Design?</h2>
        <p>
            Material Design is a specification for a unified system of visual, motion, and interaction design that adapts across different devices and different screen sizes.
        </p>
        <br>
        <md-content>
        <md-divider class="md-default-theme"></md-divider>
        <p class="md-caption" style="text-align: center; margin-bottom: 0;">
            Web also accesible from
            <a ng-href="http://tfg-esi-josegcheca1.c9.io/?_c9_id=livepreview0&_c9_host=https://ide.c9.io" target="_blank" class="ng-binding" href="https://github.com/angular/material/tree/v0.11.2">JoseGCheca 9Cloud - José Gómez Checa</a>
        </p>
    </md-content>
</md-content>
